* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 {
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0;
}

#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
  border: 1px solid;
  color: black;
  text-align: center;
}

.row {
  padding: 5%;
}

section {
  height: 1000px;
  background-color: grey;
}

section > h2 {
  text-align: center;
}

